@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
    color: var(--secondary-color);
}

body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
}

.cabecalho {
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 600;
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu--item a:hover {
    color: var(--tertiary-color);
    transition: 0.3s;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
}

.apresentacao__conteudo {
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--second-font);
    font-size: 36px;
}

.apresentacao__conteudo__titulo--destaque {
    color: var(--tertiary-color);
}

.apresentacao__conteudo__texto {
    font-family: var(--main-font);
    font-size: 24px;
}

.apresentacao__conteudo__texto--destaque {
    color: var(--tertiary-color);
}

.apresentacao__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.apresentacao__links--redes {
    font-family: var(--second-font);
    font-size: 24px;
    font-weight: 400;
}

.apresentacao__links--link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 378px;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 8px;

    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;

    text-align: center;
    padding: 1em;
    gap: 1em;
    transition: 0.3s;
}

.apresentacao__links--link:hover {
    border-color: var(--tertiary-color);
    background-color: var(--hover-color);
    color: var(--tertiary-color);
}

.footer {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1.5em;
    font-family: var(--main-font);
    font-size: 1.5em;
    font-weight: 400;
    align-self: flex-end;
    width: 100vw;
}